/* PoolValue.css */
.pool-value {
    text-align: center; /* Center the text */
    color: #fff; /* White text color */
    margin: 0;
}

.pool-value h2 {
    font-size: 0.5em; /* Increase font size */
    margin: 0; /* Remove default margin */
}
